body,
html,
#root {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: rgb(253, 253, 253);
}

h1 {
  color:rgb(249, 252, 252);
  display: flex;
  flex-direction: column;
}

.main-container {
  background-color: rgb(168, 206, 204);
  min-height:85vh;
  min-width: 21vw;
  display: flex;
  flex-direction:column;
  font-size: calc(4px + 3vmin);
  filter: drop-shadow(0 0 0.25rem rgb(109, 106, 107));
/*   border-radius: 30px;
 */}

.todo-form {
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin-bottom: 20px;
} 

.css-1snvurg-MuiPickerStaticWrapper-root {
  font-size: small;
}

/* .static_time_picker{
  margin-bottom: 5vh;
  margin-top: 4vh;
  color: rgb(204,230,230);
  border-radius: 20px;
}
 */
.delete-icon {
  margin-left: auto;
}

.button {
  align-items: center;
  background-color: rgb(206, 243, 241);
}
/*  a {
  margin-left: auto;
}
 */

